<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--还可以配置全局的初始化参数-->
    <!--这里的内容会被写入ServletContext上下文对象中-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>mywife</param-name>
        <param-value>jenny</param-value>
    </context-param>
    <!--这是登录功能-->

    <!--<servlet>-->
    <!--<servlet-name>firstcontact</servlet-name>-->
    <!--<servlet-class>Base.LoginCountUseServletContext</servlet-class>-->
    <!--&lt;!&ndash;服务器启动就创建servlet对象&ndash;&gt;-->
    <!--&lt;!&ndash;数字 代表优先级,数字越小,优先级越高&ndash;&gt;-->
    <!--<load-on-startup>3</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>firstcontact</servlet-name>-->
    <!--<url-pattern>/test</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--这是给全局对象增加1的功能-->
    <!--<servlet>-->
    <!--<servlet-name>add1</servlet-name>-->
    <!--<servlet-class>Base.LoginCountUseServletContext2</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>add1</servlet-name>-->
    <!--<url-pattern>/add1</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--学习测试Response对象的部分-->
    <!--<servlet>-->
        <!--<servlet-name>response</servlet-name>-->
        <!--<servlet-class>ResponseLearn.Demo</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>response</servlet-name>-->
        <!--<url-pattern>/test</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--上传文件和实现验证码-->
    <!--<servlet>-->
        <!--<servlet-name>download</servlet-name>-->
        <!--<servlet-class>authcode.check</servlet-class>-->
    <!--</servlet>-->
    <!---->
    <!--<servlet-mapping>-->
        <!--<servlet-name>download</servlet-name>-->
        <!--<url-pattern>/download</url-pattern>-->
    <!--</servlet-mapping>-->
    
    <!--<servlet>-->
        <!--<servlet-name>request</servlet-name>-->
        <!--<servlet-class>requestlearn.ReqLearn</servlet-class>-->
    <!--</servlet>-->
    <!---->
    <!--<servlet-mapping>-->
        <!--<servlet-name>request</servlet-name>-->
        <!--<url-pattern>/request</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>redirect</servlet-name>-->
        <!--<servlet-class>requestlearn.Redirect</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>redirect</servlet-name>-->
        <!--<url-pattern>/redirect</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>receive</servlet-name>-->
        <!--<servlet-class>requestlearn.Receive</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>receive</servlet-name>-->
        <!--<url-pattern>/receive</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>register</servlet-name>-->
        <!--<servlet-class>Register.Register</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>register</servlet-name>-->
        <!--<url-pattern>/register</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--Cookie的使用-->
    <!--<servlet>-->
        <!--<servlet-name>cookie</servlet-name>-->
        <!--<servlet-class>CookieLearn.CookieDemo</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>cookie</servlet-name>-->
        <!--<url-pattern>/cook</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>session</servlet-name>-->
        <!--<servlet-class>SessionLearn.SessionDemo</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>session</servlet-name>-->
        <!--<url-pattern>/sess</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>set</servlet-name>-->
        <!--<servlet-class>SessionLearn.SetSession</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>set</servlet-name>-->
        <!--<url-pattern>/set</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--这个表示session的过期时间,用分钟表示session的过期时间-->
    <!--<session-config>-->
        <!--<session-timeout>60</session-timeout>-->
    <!--</session-config>-->

    <servlet>
        <servlet-name>goods</servlet-name>
        <servlet-class>itemlist.ListQuery</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>goods</servlet-name>
        <url-pattern>/goods</url-pattern>
    </servlet-mapping>

</web-app>